body {
  font-family: sans-serif;
  margin: 0 50px;
}
h1{
    text-align: center;
    
}

.container {
    margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  border: 2px solid black;
  border-radius: 10px;
}
.left{
    width: 50%;
    padding: 10%;
}
.right{
    width: 50%;
    padding: 10%;
}

#tasks {
  width: 100%;
}

i {
  cursor: pointer;
}

#tasks div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}

#msg {
  color: red;
}
textarea{
    font-size: 20px;
     width: 90%;
}
p{
    font-size: 22px;
    color: green;
    font-weight: 700;
}
.btn{
    height: 50px;
    width: 100px;
    background-color: green;
    margin: auto;
    font-size: 20PX;
    color: #FFF;
    border: 0px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.fa-edit{
    color: rgb(45, 67, 23);
    font-size: 22px;
}
.fa-trash-alt{
    color: rgb(241, 140, 140);
    font-size: 22px;
}
/* MEDIA QUARY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .textarea{
        font-size: 20px;
         width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1280px) {
    .container {
        flex-direction: column;
        /* justify-content:center; */
        gap: 10;
    }
}